<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>CPA Programm</title>
  <link rel="stylesheet" href="/static/css/styles.css" />
  <script src="/static/js/scripts.js" defer></script>

  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/slim-select@1.26.0/dist/slimselect.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/slim-select@1.26.0/dist/slimselect.min.js" defer></script>
</head>

<body>
  <header>
    <h1>CPA Programm</h1>
  </header>

  <div class="wrap">
    <div class="controls">
      <div class="btnControl">
        <input type="file" id="pixlInput" accept="image/*" style="display: none" />
        <button id="uploadBtn" class="btn">Upload</button>
      </div>
      
      <div class="btnControl">
        <button id="downloadBtn" class="btn" disabled>Download</button>
      </div>

      <label for="blocksize" class="input-label">
        Pixelization: <span id="blockvalue">32</span>
        <input type="range" id="blocksize" min="2" max="64" step="1" value="32" />
      </label>

      <label for="paletteselector" class="input-label">
        Palette:
        <select id="paletteselector">
          <option value="default">Default</option>
        </select>
      </label>

      <label for="useAllColors" class="input-label">
        Colors:
        <span id="useAllColorsValue">1</span>
        <input type="range" id="useAllColors" min="1" max="20" step="1" value="1" />
      </label>

      <label for="brightness" class="input-label">
        Brightness: <span id="brightnessValue">0</span>
        <input type="range" id="brightness" min="-100" max="100" step="1" value="0" />
      </label>

      <label for="contrast" class="input-label">
        Contrast: <span id="contrastValue">0</span>
        <input type="range" id="contrast" min="-100" max="100" step="1" value="0" />
      </label>

      <label for="saturation" class="input-label">
        Saturation: <span id="saturationValue">0</span>
        <input type="range" id="saturation" min="-100" max="100" step="1" value="0" />
      </label>

      <label for="contour" class="input-label">
        Contour:
        <input type="checkbox" id="contour" name="contour" />
      </label>

      <label for="resolution" class="input-label"> 
        Resolution:
        <select id="resolution">
          <option value="32">32x32</option>
          <option value="64">64x64</option>
          <option value="128">128x128</option>
          <option value="256">256x256</option>
          <option value="512">512x512</option>
        </select>
      </label>


    </div>

    <div class="images">
      <div class="image-container">
        <canvas id="pixelitcanvas"></canvas>
      </div>
    </div>
  </div>
</body>
</html>
